<%= render "form", project_information: @project_information %>

<ul class="mt-4 space-y-2">
  <% @project_informations.each do |project_information| %>
    <li>
      <%= project_information.name %>
      <%= project_information.content %>
      <% if project_information.image.attached? %>
        <%= image_tag project_information.image, class: "w-48 h-48 object-cover" %>
      <% else %>
        <p>Không có hình ảnh</p>
      <% end %>
      
      <%= link_to "Sửa", edit_admin_project_information_path(project_information) %> |
      <%= button_to "Xóa",
      admin_project_information_path(project_information),
      method: :delete %>

    </li>
  <% end %>
</ul>
