<ul>
  <li><%= link_to "Quản lý đơn hàng", admin_orders_path %></li>
  <br>
  <li><%= link_to "Thêm, sửa sản phẩm", admin_products_path %></li>
  <li><%= link_to "Thêm, sửa danh mục", admin_categories_path %></li>
  <br>
  <li><%= link_to "Chỉnh sửa trang chủ", edit_admin_introduction_path %></li>
  <li><%= link_to "Chỉnh sửa trang thông tin dự án", admin_project_informations_path %></li>
  <li><%= link_to "Chỉnh sửa trang trang trí nội thất", admin_decorations_path %></li>
  <li><%= link_to "Chỉnh sửa trang liên hệ", edit_admin_contact_path %></li>
  <li><%= link_to "Chỉnh sửa trang thiết bị và phụ kiện", admin_accessories_path %></li>
  <li><%= link_to "Chỉnh sửa trang xưởng sản xuất", edit_admin_factory_path %></li>
  <li><%= link_to "Chỉnh sửa trang văn phòng thiết kế", edit_admin_design_office_path %></li>
  <br>
  <li><%= link_to "Chỉnh sửa sản phẩm khuyến mãi", admin_promotions_path %></li>
  <br>
  <li><%= link_to "Chỉnh sửa admin", admin_users_path %></li>
  <li><%= link_to "Chỉnh sửa Slogan", edit_admin_slogan_path %></li>
  <li><%= link_to "Chỉnh sửa Màu sắc giao diện", edit_admin_color_path %></li>
</ul>

<%= button_to "Đăng xuất", logout_path, method: :delete %>

