<h1>Admin Dashboard</h1>

<ul>
  <li><%= link_to "Quản lý danh mục", admin_categories_path %></li>
  <li><%= link_to "Quản lý sản phẩm", admin_products_path %></li>
  <li><%= link_to "Quản lý đơn hàng", admin_orders_path %></li>
  <li><%= link_to "Chỉnh sửa thông tin admin", root_path %></li>
  <li><%= link_to "Chỉnh sửa Thông tin liên hệ của trang web", edit_admin_contact_path %></li>
  <li><%= link_to "Chỉnh sửa Giới thiệu của trang web", edit_admin_introduction_path %></li>
  <li><%= link_to "Chỉnh sửa Slogan", edit_admin_slogan_path %></li>
  <li><%= link_to "Chỉnh sửa Màu sắc giao diện", edit_admin_color_path %></li>
</ul>

<%= button_to "Đăng xuất", logout_path, method: :delete %>

