<tr>
  <td><%= order.id %></td>
  <td><%= order.user.name %></td>
  <td><%= number_to_currency(order.total_price, unit: "", delimiter: ".") %> VND</td>
  <td><%= order.status %></td>
  <td><%= order.created_at.strftime("%d/%m/%Y %H:%M") %></td>
  <td><%= link_to "Xem", admin_order_path(order) %></td>
</tr>
