<%= form_with model: [:admin, @decoration], local: true, multipart: true do |f| %>
  <div>
    <div>
      <%= f.label :name, "Tên dự án" %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :content, "Mô tả" %>
      <%= f.text_area :content, rows: 4 %>
    </div>

    <div>
      <%= f.label :image, "Ảnh dự án" %>
      <%= f.file_field :image %>
    </div>

    <div>
      <%= f.submit "Lưu dự án" %>
    </div>

  </div>
<% end %>

Ảnh dự án
<% if @decoration.image.attached? %>
  <%= image_tag @decoration.image, class: "w-48 h-48 object-cover" %>
<% end %>
