<div class="flex justify-center">
    <div class="w-[90%] sm:w-[60%] mt-6 sm:mt-14 boder bg-white rounded-lg p-2 sm:p-10">
      <p class="text-center font-bold text-2xl sm:text-4xl mb-4">Danh sách đơn hàng của bạn</p>
      
<% if @orders.empty? %>
  <div class="flex justify-center items-center min-h-[60vh] px-4">
    <div class="bg-white rounded-2xl shadow-sm border p-8 sm:p-10 text-center max-w-md w-full">

      <div class="flex justify-center mb-4">
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             class="size-16 text-gray-400">
          <path stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.375 3h17.25M4.5 7.5h15m-13.5 4.5h12m-10.5 4.5h9" />
        </svg>
      </div>

      <h2 class="text-2xl font-semibold text-gray-800 mb-2">
        Chưa có đơn hàng
      </h2>

      <p class="text-gray-500 mb-8">
        Bạn chưa có đơn hàng nào. Hãy khám phá các sản phẩm và đặt hàng ngay!
      </p>

      <div class="flex justify-center gap-3">
        <%= link_to "Trang cá nhân",
              user_path(current_user),
              class: "px-5 py-2 rounded-lg border border-gray-300 hover:bg-gray-100 transition" %>

        <%= link_to "Mua sắm ngay",
              categories_path,
              class: "px-5 py-2 rounded-lg text-white transition",
              style: "background-color: #{Color.first&.header || '#FF5733'};" %>
      </div>

    </div>
  </div>
<% else %>




<table class="w-full border border-gray-300 rounded-lg overflow-hidden text-center">
  <thead class="bg-gray-100 border-b border-gray-300">
    <tr>
      <th class="px-4 py-2 border-r border-gray-300">Trạng thái</th>
      <th class="px-4 py-2 border-r border-gray-300">Tổng tiền</th>
      <th class="px-4 py-2 border-r border-gray-300">Ngày đặt</th>
      <th class="px-4 py-2 border-r border-gray-300">Thao tác</th>
    </tr>
  </thead>

  <tbody>
    <% total = 0 %>
    <% @orders.each do |order| %>
      <% total = order.order_items.sum { |item| item.price * item.quantity } %>
      <tr class="border-b border-gray-200 hover:bg-gray-50">
        <td class="flex flex-col items-center justify-center px-4 py-2 border-r border-gray-200">
          <%= order.status %>
        </td>
        <td class="px-4 py-2 border-r border-gray-200 align-middle">
          <%= number_to_currency(total, unit: "VND ", format: "%n %u", precision: 0) %>
        </td>
        <td class="px-4 py-2 border-r border-gray-200 align-middle">
          <%= order.created_at.strftime("%d/%m/%Y %H:%M") %>
        </td>

        <td>
          <%= link_to "Xem chi tiết", order_path(order) %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>



<% end %>



    </div>
</div>