<%= render "form", promotion: @promotion %>

<ul class="mt-4 space-y-2">
  <% @promotions.each do |promotion| %>
    <li>
      <%= promotion.name %>
      <%= promotion.content %>
      <% if promotion.image.attached? %>
        <%= image_tag promotion.image, class: "w-48 h-48 object-cover" %>
      <% else %>
        <p>Không có hình ảnh</p>
      <% end %>
      
      <% if promotion.video.present? %>
        <div class="flex justify-center">
          <iframe width="560" height="315" 
                  src="<%= promotion.video %>" 
                  title="YouTube video" 
                  frameborder="0" 
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                  allowfullscreen
                  class="w-full max-w-3xl aspect-video rounded-lg shadow-lg">
          </iframe>
        </div>
      <% end %>
      
      <%= link_to "Sửa", edit_admin_promotion_path(promotion) %> |
      <%= button_to "Xóa",
      admin_promotion_path(promotion),
      method: :delete %>

    </li>
  <% end %>
</ul>
