<div class="py-3 px-5">
  <h1 class="text-1xl md:text-3xl font-semi font-bold text-gray-700 my-1">
    Thông tin dự án
  </h1>
  <div class="flex text-xs">
      <%= link_to root_path do %>
          <div class="flex hover:text-black">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3 mt-[2px]">
                <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
              </svg>
              <div>Trang chủ </div>
          </div>
      <% end %>
      
      > <%= link_to "Dự án", request.referer %> 
      ><%= @project_information.name %>>
  </div>
</div>


<div class="flex justify-center">

  <div class="w-[90%] sm:w-[80%] sm:flex justify-between">

    <div class="sm:w-3/5">
      <% if @project_information.image.attached? %>
        <div class="overflow-hidden">
          <%= image_tag @project_information.image,
              class: "w-full h-auto object-cover transition duration-700 hover:scale-105" %>
        </div>
      <% end %>
    </div>
    
    <div class="sm:w-2/5 sm:mt-0 mt-4 px-1 sm:px-4">
      <p class="text-2xl mb-2 font-bold font-semi text-gray-700 group-hover:text-black transition">
        <%= @project_information.name %>
      </p>
      <div>
        <p class="text-md font-bold mt-2 text-gray-800"> Mô tả:</p>
        <%= simple_format(@project_information.content) %>
      </div>
    </div>

  </div>


</div>


<%= render "form/advise" %>
<%= render "items/name_web" %>