<%= form_with model: [:admin, @product], local: true do |f| %>
  <div>
    <div>
      <%= f.label :name, "Tên sản phẩm" %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :price, "Giá" %>
      <%= f.number_field :price, step: 1 %>
    </div>

    <div>
      <%= f.label :description, "Mô tả" %>
      <%= f.text_area :description, rows: 4 %>
    </div>

    <div>
      <%= f.label :category_id, "Danh mục"%>
      <%= f.collection_select :category_id, Category.all, :id, :name,
          { prompt: "Chọn danh mục" } %>
    </div>

    <div>
      <%= f.label :images, "Ảnh sản phẩm" %>
      <%= f.file_field :images, multiple: true %>
    </div>

    <div>
      <%= f.submit "Lưu sản phẩm" %>
    </div>

  </div>
<% end %>

Ảnh sản phẩm
<% if @product.images.attached? %>
  <div>
    <% @product.images.each do |image| %>
      <div>
        <%= image_tag image, class: "w-48 h-48 object-cover" %>
        <%= button_to "Xóa", remove_image_admin_product_path(@product, image_id: image.id), method: :delete %>
      </div>
    <% end %>
  </div>  
<% end %>