<h1>Quản lý sản phẩm</h1>

<%= link_to "Thêm sản phẩm", new_admin_product_path %>

<table>
  <tr>
    <th>Tên</th>
    <th>Giá</th>
    <th>Hành động</th>
  </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td>
        <%= link_to "Sửa", edit_admin_product_path(product) %> |
        <%= link_to "Xóa", admin_product_path(product),
            data: { turbo_method: :delete, turbo_confirm: "Xóa sản phẩm?" } %>
      </td>
    </tr>
  <% end %>
</table>
