<h1>Danh sách sản phẩm</h1>

<%= render "form", product: @product %>

<ul class="mt-4 space-y-2">
  <% @products.each do |product| %>
    <li>
      <%= product.name %> - <%= product.category&.name %>

      <%= link_to "Sửa", edit_admin_product_path(product) %> |
      <%= link_to "Xóa", admin_product_path(product),
            data: { turbo_method: :delete } %>
    </li>
  <% end %>
</ul>
