<%= form_with model: @introduction, url: admin_introduction_path, local: true, method: :patch, multipart: true do |f| %>
  <div>
    <%= f.label :content, "Lời giới thiệu trang home" %><br>
    <%= f.text_area :content, rows: 10, cols: 80 %>
  </div>
  <div>
    <%= f.label :image, "Ảnh trang chủ" %>
    <%= f.file_field :image %>
  </div>
  <div>
    <%= f.label :link_video, "Link Video YouTube home" %><br>
    <%= f.text_field :link_video, size: 80 %>
  </div>

  <div>
    <%= f.submit "Cập nhật" %>
  </div>
<% end %>


<% if @introduction.image.attached? %>
  <%= image_tag @introduction.image, class: "w-48 h-48 object-cover" %>
<% end %>
