<div class="flex justify-center">
  <div class="w-[90%] sm:w-[80%] grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-8 mt-4 px-2 sm:px-4">
    <% @products.each do |product| %>
      <%= link_to product_path(product.id), class: "group block border border-transparent hover:border-[#cecece] transition" do %>

        <div class="hover:shadow-md transition-all duration-300 overflow-hidden">

          <!-- Ảnh sản phẩm + overlay + mô tả -->
          <div class="relative overflow-hidden">
            <% if product.images.attached? %>
              <%= image_tag product.images.first,
                  class: "w-full aspect-[4/3] object-cover
                          transform group-hover:scale-110 transition duration-700" %>
            <% end %>

            <!-- Overlay -->
            <div class="absolute inset-0 bg-black/30 opacity-0 
                        group-hover:opacity-100 transition duration-500"></div>
                  
            <!-- Mô tả hiển thị khi hover -->
            <p class="absolute bottom-0 mb-3 left-0 right-0
                      text-white text-sm p-4
                      translate-y-6 opacity-0
                      group-hover:translate-y-0 group-hover:opacity-100
                      transition-all duration-500 line-clamp-2">
              <%= truncate(product.description, length: 120) %>
            </p>
          </div>

          <!-- Nội dung sản phẩm -->
          <div class="p-5">

            <h3 class="text-xl font-semi text-gray-700 group-hover:text-black transition">
              <%= product.name %>
            </h3>

            <p class="text-sm font-sans font-bold text-red-500 mt-2 text-right">
              <%= number_to_currency(product.price, unit: "VND ", format: "%n %u", precision: 0) %>
            </p>

            <!-- Nút thêm vào giỏ -->
            <div class="mt-4 text-right">
              <%= button_to "Thêm vào giỏ",
                    add_cart_path(product_id: product.id),
                    method: :post,
                    form: { data: { remote: true } },
                    class: "bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400 transition" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>            
  </div>
</div>