<%= form_with model: [:admin, @user], local: true do |f| %>
  <div>
    <div>
      <%= f.label :name, "Tên"%>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :email, "Email" %>
      <%= f.email_field :email %>
    </div>

    <div>
      <%= f.label :role, "Vai trò" %>
      <%= f.select :role,
            ["Quản lí đơn hàng", "Quản lí web"] %>
    </div>


    <div>
      <%= f.label :password, "Mật khẩu"%>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div>
      <%= f.label :password_confirmation, "Xác nhận mật khẩu" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div>
      <%= f.submit "Đăng ký" %>
    </div>
  </div>
<% end %>
