<%= form_with model: [:admin, @user], local: true do |f| %>
  <div class="space-y-6 bg-white p-6 rounded-xl shadow-lg">

    <!-- TIÊU ĐỀ -->
    <h2 class="text-2xl font-semibold text-gray-700 mb-4 text-center">
      Thông tin Admin
    </h2>


    <div>
      <%= f.label :email, "Email", class: "block font-medium mb-1" %>
      <%= f.email_field :email,
            class: "w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring focus:ring-blue-300 focus:outline-none" %>
    </div>

    <%= f.select :role,
              options_for_select([["Admin tổng", "super_admin"],
                                  ["Admin quản lí", "admin_manager"],
                                  ["Staff ", "staff"]]),
              { prompt: "Chọn vai trò" },
              class: "w-full border border-gray-300 rounded-lg px-3 py-2 bg-white focus:ring focus:ring-blue-300 focus:outline-none" %>



    <div class="pt-4">
      <%= f.submit "Đăng ký",
            class: "w-full bg-blue-600 text-white py-3 rounded-lg font-semibold hover:bg-blue-700 transition" %>
    </div>

  </div>
<% end %>

<Strong class="mt-4">Ghi chú</Strong>
<p>Admin tổng (toàn quyền thay đổi như hiện tại)</p>
<p>Admin quản lí (được phép thêm, sửa sản phẩm, dự án, trang trí nội thất, thiết bị và phụ kiện)</p>
<p>Staff (được phép vào quản lí đơn hàng,quản lí yêu cầu tư vấn)</p>

