<h1>Sản phẩm</h1>

<div style="display: flex; gap: 20px; flex-wrap: wrap">
  <% @products.each do |product| %>
    <div style="border: 1px solid #ccc; padding: 10px; width: 200px;">
      <h3><%= product.name %></h3>
      <p>Giá: <%= product.price %> VND</p>


      <% if product.images.attached? %>
        <div>
          <%= image_tag product.images.first, class: "w-48 h-48 object-cover" %>
        </div>
      <% else %>
        <p>Không có ảnh</p>
      <% end %>

      
      <%= button_to "Thêm vào giỏ",
            add_cart_path(product_id: product.id),
            method: :post, 
            form: { data: { remote: true } } %>
      <p><%= product.description %></p>
    </div>
  <% end %>
</div>