<div class="py-3 px-5">
  <h1 class="text-1xl md:text-3xl font-semi font-bold text-gray-700 my-1">
    <%= @product.category.name %>
  </h1>
  <div class="flex text-xs">
      <%= link_to root_path do %>
        <div class="flex hover:text-black">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3 mt-[2px]">
              <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>
            <div>Trang chủ </div>
        </div>
      <% end %> > <%= link_to "Sản phẩm", request.referer %> > <%= link_to request.referer do %> <%= @product.category.name %> <% end %> ><%= @product.name %>>
  </div>
</div>
    
<div class="flex justify-center my-4">
  <div class="w-[90%] sm:w-[80%]"> 
    <div class="sm:flex">
      <div class="sm:w-3/5 p-3">
        <% if @product.images.attached? %>
          <%= image_tag @product.images.first, class: "w-full aspect-[4/3] object-cover mb-4 rounded-lg" %>
        <% end %>
        <% if @product.images.count > 1 %>
          <% images = @product.images %>
          <div x-data="{ current: 0, maxIndex: <%= images.count - 3 %>, animating: false,
              slide(to) {
                if (this.animating) return;
                this.animating = true;
                this.current = to;
                setTimeout(() => this.animating = false, 350); } }" class="relative w-full overflow-hidden">
            <div class="flex transition-transform duration-500 ease-out" :class="animating ? 'opacity-80 scale-[0.98]' : 'opacity-100 scale-100'" :style="`transform: translateX(-${current * (100 / 3)}%)`">
              <% images.each do |img| %>
                <div class="w-1/3 flex-shrink-0 transition-all duration-500">
                  <%= image_tag img, class: "w-full p-2 aspect-[4/3] object-cover shadow overflow-hidden rounded-md" %>
                </div>
              <% end %>
            </div>
            <button x-show="current > 0" @click="slide(current - 1)" class="absolute top-1/2 left-2 -translate-y-1/2 bg-white/80 backdrop-blur px-3 py-2 rounded-full shadow hover:scale-110 transition">
              ‹
            </button>
            <button x-show="current < maxIndex" @click="slide(current + 1)" class="absolute top-1/2 right-2 -translate-y-1/2 bg-white/80 backdrop-blur px-3 py-2 rounded-full shadow hover:scale-110 transition">
              ›
            </button>
          </div>  
        <% end %>
      </div>
      <div class="mt-6 sm:mt-0 p-3 sm:w-2/5">
        <p class="text-2xl font-bold font-semi text-gray-700 group-hover:text-black transition">
          <%= @product.name %>
        </p>
        <p class="text-base font-sans font-bold text-red-400 mt-2">
          <%= number_to_currency(@product.price, unit: "VND ", format: "%n %u", precision: 0) %>
        </p>
        <hr class="text-black my-6">
        <div class="flex items-center justify-between">
          <div class="text-lg font-bold text-gray-800">Kích thước:</div> 
          <div class="border-2 border-gray-400 rounded p-1">
            <%= @product.size %>
          </div>
        </div>

        <hr class="text-black my-6">
        <div class="my-4">
          <%= button_to "Thêm vào giỏ",
                add_cart_path(product_id: @product.id),
                method: :post,
                form: { class: "w-full", data: { remote: true } },
                class: "w-full bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-350 transition" %>
        </div>
        <p><strong>Bạn cần tư vấn?</strong> liên hệ với chúng tôi</p>
        <div class="flex justify-between space-x-2 my-4">
          <%= link_to "https://zalo.me/#{@contact.zalo}",
                      target: "_blank",
                      rel: "noopener",
                      class: "inline-block w-full flex flex-1 items-center justify-center bg-[#0068FF] p-2 rounded-lg" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
              <path d="M23.8936 12.8443C23.9151 13.6397 23.7893 14.411 23.573 15.1765C23.3561 15.9413 23.061 16.6677 22.6623 17.3523C22.2278 18.097 21.7047 18.7764 21.091 19.3842C20.9627 19.5113 20.8402 19.6442 20.7158 19.7744C20.4539 19.9757 20.1953 20.1823 19.9288 20.377C19.0448 21.0239 18.0839 21.5203 17.0455 21.8786C16.4149 22.0969 15.7712 22.2571 15.1172 22.3509C14.1211 22.4923 13.1179 22.506 12.1133 22.3796C11.5772 22.3125 11.0488 22.2239 10.5283 22.0812C10.4332 22.0552 10.3511 22.0969 10.2717 22.1412C9.71988 22.4454 9.16745 22.7503 8.61501 23.0552C8.11144 23.3333 7.60656 23.6102 7.10494 23.8929C6.95185 23.9789 6.93492 23.9125 6.93492 23.7763C6.93752 22.7542 6.93101 21.7327 6.94013 20.7106C6.94273 20.45 6.85869 20.2728 6.64306 20.1158C6.2789 19.8513 5.95448 19.5347 5.64048 19.2103C5.58315 19.1517 5.53234 19.0819 5.4483 19.0552C5.43136 19.0305 5.41377 19.0064 5.39683 18.9816C5.38315 18.9673 5.36947 18.953 5.35644 18.9393C5.22811 18.6826 5.01769 18.4865 4.84766 18.2618C4.31542 17.5589 3.91087 16.7914 3.5897 15.9739C3.3669 15.4071 3.22489 14.8188 3.10241 14.226C2.97994 13.6312 3.01968 13.0241 3.01121 12.4215C3.00144 11.6879 3.14606 10.9818 3.32782 10.2743C3.57537 9.31405 3.9923 8.43263 4.53301 7.6131C5.00336 6.90107 5.56426 6.26199 6.20854 5.69066C6.94143 5.04051 7.73881 4.49785 8.61827 4.07376C9.39936 3.69656 10.2143 3.42491 11.0632 3.22556C12.172 2.96433 13.2918 2.9526 14.4116 3.00667C14.9914 3.03404 15.5712 3.15586 16.1439 3.30048C17.0168 3.52002 17.8474 3.83402 18.6415 4.25095C19.0969 4.49003 19.5256 4.77146 19.9418 5.07309C20.0135 5.12585 20.0799 5.191 20.1725 5.20924C20.5347 5.58187 20.9568 5.89066 21.3099 6.27502C22.1157 7.14992 22.7678 8.12124 23.2258 9.2235C23.4278 9.71144 23.5984 10.2118 23.7053 10.7225C23.8134 11.2391 23.9248 11.7648 23.8955 12.3036C23.8844 12.4821 23.889 12.6638 23.8936 12.8443Z" fill="white"></path>
              <path d="M8.32445 14.5499C8.97004 14.5499 9.61303 14.5473 10.2567 14.5505C10.6378 14.5525 10.8606 14.8385 10.7277 15.157C10.6449 15.3557 10.4729 15.458 10.2658 15.46C9.35375 15.4671 8.44106 15.4665 7.52837 15.46C7.3173 15.4587 7.13359 15.374 7.03587 15.1675C6.92904 14.9427 7.00982 14.7421 7.1375 14.5603C7.54075 13.9896 7.95117 13.4242 8.35833 12.8561C8.67233 12.4183 8.98502 11.9799 9.29837 11.5421C9.23909 11.4691 9.16939 11.4985 9.11075 11.4985C8.60392 11.4959 8.09709 11.5017 7.59026 11.4952C7.21958 11.4906 7.04043 11.3213 7.06649 11.0203C7.08864 10.7682 7.26714 10.5949 7.52121 10.5942C8.37592 10.5916 9.22997 10.591 10.0847 10.5942C10.499 10.5962 10.7185 10.935 10.5661 11.3265C10.4677 11.5792 10.2808 11.7753 10.127 11.991C9.55439 12.7949 8.97069 13.5909 8.3922 14.3909C8.35963 14.4352 8.31989 14.4789 8.32445 14.5499Z" fill="#1363D6"></path>
              <path d="M13.6149 15.1029C12.8768 15.8834 11.811 15.5153 11.3661 14.8098C10.826 13.9531 10.9524 12.5564 11.9231 11.944C12.4729 11.5974 13.1999 11.6821 13.611 12.1629C13.669 12.0385 13.7224 11.9193 13.8449 11.8489C14.1999 11.6443 14.5517 11.8456 14.5556 12.2704C14.5615 12.9297 14.5569 13.5889 14.5569 14.2482C14.5569 14.473 14.5569 14.6971 14.5569 14.9218C14.5563 15.2905 14.4683 15.428 14.1908 15.4925C13.9478 15.5492 13.7595 15.4254 13.6149 15.1029ZM13.5693 13.6352C13.5765 13.445 13.5446 13.2626 13.4631 13.0899C13.2214 12.5759 12.6403 12.4776 12.2807 12.8912C11.9472 13.2743 11.9518 14.015 12.2899 14.3922C12.6221 14.7622 13.1413 14.7133 13.4045 14.2925C13.5322 14.0886 13.5687 13.8665 13.5693 13.6352Z" fill="#1363D6"></path>
              <path d="M16.5037 13.6417C16.477 12.7349 17.1337 11.8606 18.0705 11.7414C18.8046 11.6476 19.5695 12.1042 19.8913 12.8782C20.2606 13.7648 19.9128 14.9035 19.1252 15.3237C18.1363 15.8508 16.9135 15.4306 16.5636 14.1987C16.5115 14.0169 16.507 13.8293 16.5037 13.6417ZM19.0333 13.6475C19.0574 13.4326 19.0046 13.2332 18.9063 13.0449C18.6346 12.527 17.9669 12.4893 17.662 12.985C17.4184 13.3811 17.4197 13.8039 17.619 14.2182C17.7558 14.5016 17.9877 14.656 18.3141 14.6364C18.6327 14.6176 18.8183 14.4189 18.9441 14.1511C19.0177 13.9928 19.0561 13.8247 19.0333 13.6475Z" fill="#1363D6"></path>
              <path d="M16.0825 12.8588C16.0825 13.5728 16.0857 14.2868 16.0805 15.0008C16.0786 15.2633 15.9613 15.4099 15.7281 15.4816C15.4512 15.5669 15.1613 15.3819 15.1235 15.0914C15.1131 15.0125 15.1118 14.9324 15.1118 14.8529C15.1112 13.5135 15.1112 12.1748 15.1118 10.8354C15.1118 10.7631 15.1131 10.6901 15.1222 10.6191C15.1568 10.341 15.3372 10.1924 15.6265 10.1989C15.8773 10.2048 16.0747 10.3885 16.0786 10.6517C16.0877 11.2719 16.0838 11.8921 16.0851 12.5122C16.0851 12.6276 16.0851 12.7429 16.0851 12.8582C16.0851 12.8588 16.0838 12.8588 16.0825 12.8588Z" fill="#1363D6"></path>
            </svg>
            <div class="text-white">Zalo</div>
                        
          <% end %>

          <%= link_to "https://facebook.com/#{@contact.fb}", 
                      target: "_blank", 
                      rel: "noopener",
                      class: "inline-block w-full flex flex-1 items-center justify-center bg-gradient-to-r from-[#ff7ac4] via-[#b240e6] to-[#0068ff] p-2 rounded-lg" do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-[26px] h-[26px]" fill="white"><path d="M12.001 2C6.47813 2 2.00098 6.47715 2.00098 12C2.00098 16.9913 5.65783 21.1283 10.4385 21.8785V14.8906H7.89941V12H10.4385V9.79688C10.4385 7.29063 11.9314 5.90625 14.2156 5.90625C15.3097 5.90625 16.4541 6.10156 16.4541 6.10156V8.5625H15.1931C13.9509 8.5625 13.5635 9.33334 13.5635 10.1242V12H16.3369L15.8936 14.8906H13.5635V21.8785C18.3441 21.1283 22.001 16.9913 22.001 12C22.001 6.47715 17.5238 2 12.001 2Z"></path></svg>
            <div class="text-white">Facebook</div>
          <% end %>
        </div>
        <hr class="text-black my-6">
        <p class="text-xl font-bold mt-2 text-gray-800"> Mô tả:</p>
        <p><%= @product.description %></p>
      </div>
    </div>
  </div>
</div>

<%= render "script/library/alpine" %>