<div class="py-3 px-5 mt-4">
  <div class="flex text-xs">
      <%= link_to root_path do %>
          <div class="flex hover:text-black">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3 mt-[2px]">
                <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
              </svg>
              <div>Trang chủ </div>
          </div>
      <% end %>
      
      > <%= link_to "Thiết bị và phụ kiện", accessories_path %>
  </div>
</div>

<div class="flex justify-center">
  <div class="w-[90%] sm:w-[80%] z-47">
    <div class="text-center mt-10 mb-8">
      <h2 class="text-3xl md:text-4xl font-extrabold tracking-wide"
          style="color: <%= Color.first&.header || '#ffffff' %>;">
        <span class="inline-block relative">

          THIẾT BỊ VÀ PHỤ KIỆN

          <span class="absolute left-1/2 -bottom-2 w-16 h-[3px] -translate-x-1/2 rounded-full"
                style="background-color: <%= Color.first&.header || '#ffffff' %>;">
          </span>

        </span>
      </h2>
    </div>


    <!-- Danh sách project -->
    <div class="grid grid-cols-2 md:grid-cols-4 gap-10 mt-10">

      <% @accessories.each do |accessory| %>
        <%= link_to accessory_path(accessory.id) do %>

          <div class="group my-2">
            <div class="relative overflow-hidden shadow-lg">

              <% if accessory.image.attached? %>
                <%= image_tag accessory.image,
                    class: "w-full aspect-[4/3] object-cover transform transition duration-500 group-hover:scale-110" %>
              <% end %>

              <!-- Overlay đẹp với gradient tối -->
              <div class="absolute inset-0 bg-gradient-to-t from-black/70 via-black/40 to-transparent
                          opacity-0 group-hover:opacity-100 transition duration-500
                          flex items-end p-5">
                <p class="text-white text-lg font-medium translate-y-5
                          group-hover:translate-y-0 transition duration-500">
                  <%= truncate(accessory.content, length: 120) %>
                </p>
              </div>

            </div>

            <!-- Tên project -->
            <div class="font-semibold text-xl text-center mt-4 text-gray-900">
              <%= accessory.name %>
            </div>
          </div>

        <% end %>
      <% end %>

    </div>

  </div>
</div>

