<header class="font-semibold text-white font-sans text-sm fixed top-0 left-0 w-full z-48"
        style="background-color: <%= Color.first&.header || '#FF5733' %>;">
  <div class="flex items-center pr-1 sm:pr-3 pt-3 pb-1">
    <div class="flex-[1]">
      <%= render "layouts/page_hidden" %>
    </div>

    <div class="flex-[12] md:flex-[3]">
      <%= render "layouts/logo" %>
    </div>
    <div class="hidden md:flex flex-[12]">
      <%= render "layouts/page" %>
    </div>
    <div class="flex-[1]">
      <%= render "layouts/user" %>
    </div>
  </div>

</header>

<div class="h-20"></div>

<%= render "layouts/script_lap" %>