<header class="fixed top-0 left-0 w-full z-[999] text-white"
  style="background-color: <%= Color.first&.header || '#FF5733' %>;">
  <div class="w-full mx-full px-2 lg:px-4">
    <div class="h-28 flex items-center justify-between">
      <div class="flex items-center">

        <%= render "layouts/page_hidden" %>

        <%= render "layouts/logo" %>
      </div>

      <nav class="hidden lg:flex items-center gap-6 text-sm">
        <%= render "layouts/page" %>
      </nav>

      <div class="flex items-center gap-2 lg:gap-4">

        <%= render "form/form_search_header" %>

        <%= render "layouts/user" %>

      </div>
    </div>

  </div>
</header>

<div class="h-28 md:h-20"></div>