  <div class="relative z-[999999]">

      <div id="PageHidden" class="h-screen slide-left flex fixed w-full hidden">
        <div class="flex fixed flex-col h-screen sm:w-[30%] w-[65%] z-[999999] slide-left left-0 mt-[-80px] p-2 sm:p-6 bg-white text-black font-semibold font-sans space-y-4 custom-scroll overflow-y-auto">
          <div class="flex items-center justify-between">
            <%= header_hidden_link "DỰ ÁN", project_informations_path %>

            <div id="ButtonListProjectInformationHidden">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
              </svg>
            </div>
          </div>

          <div id="ListProjectInformationHidden" class="hidden">
            <div class="flex flex-col slide-down mt-[-5px] space-y-3 ml-6">
              <% @project_informations.each do |project_information| %>
                <div><%= link_to project_information.name, project_information_path(project_information.id) %></div>
              <% end %>      
            </div> 
          </div>

          <div class="flex items-center justify-between">
            <%= header_hidden_link "SẢN PHẨM", categories_path %>

            <div id="ButtonListCatalogHidden">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
              </svg>
            </div>
          </div>

          <div id="ListCatalogHidden" class="hidden">
            <div class="flex flex-col slide-down mt-[-5px] space-y-3 ml-6">  
              <% @categories.each do |category| %>
                <%= link_to category_path(category) do %>
                  <div><%= category.name %></div>
                <% end %>
              <% end %>   
            </div>     
          </div>

          <div class="flex items-center justify-between">
            <%= header_hidden_link "TRANG TRÍ NỘI THẤT", decorations_path %>

            <div id="ButtonListDecorationHidden">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
              </svg>
            </div>
          </div>

          <div id="ListDecorationHidden" class="hidden">
            <div class="flex flex-col slide-down mt-[-5px] space-y-3 ml-6">
              <% @decorations.each do |decoration| %>
                <div><%= link_to decoration.name, decoration_path(decoration) %></div>
              <% end %>      
            </div>
          </div>

          <%= header_hidden_link "LIÊN HỆ", contact_path %>
          <%= header_hidden_link "XƯỞNG SẢN XUẤT", factory_path %>
          <%= header_hidden_link "VĂN PHÒNG THIẾT KẾ", design_office_path %>

          <div class="flex items-center justify-between">
            <%= header_hidden_link "THIẾT BỊ VÀ PHỤ KIỆN", accessories_path %>

            <div id="ButtonListAccessoriehidden">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
              </svg>
            </div>
          </div>

          <div id="ListAccessoriehidden" class="hidden">
            <div class="flex flex-col slide-down mt-[-5px] space-y-3 ml-6">
              <% @accessories.each do |accessory| %>
                <div><%= link_to accessory.name, accessory_path(accessory) %></div>
              <% end %>      
            </div>
          </div>
        </div>
        <div id="OutPageHidden" class="fixed inset-0 z-[999998] right-0 bg-black/50 mt-[-80px]"></div>
      </div>
  </div>