<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Noi That Moc phuong" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  
  </head>

  <body class="min-h-screen flex flex-col" data-controller="cursor">

    <div id="page-loading"
         class="fixed inset-0 bg-white flex flex-col items-center justify-center z-[999999]">
    
      <div class="w-12 h-12 border-4 border-gray-300 border-t-blue-500 rounded-full animate-spin"></div>
    
      <div class="mt-4 text-xl tracking-widest font-semibold text-gray-800 opacity-0 loading-text">
        NỘI THẤT MỘC PHƯƠNG
      </div>
    </div>

    <div style="background-color: <%= Color.first&.header || '#ffffff' %>;">
      <%= render "layouts/header" %>
    </div>

    <%= render "layouts/page_hidden_list" %>

    <main class="flex-1" style="background-color: <%= Color.first&.background || '#ffffff' %>;">
      <%= yield %>
    </main> 


    <div class="w-full" style="background-color: <%= Color.first&.footer || '#ffffff' %>;">
      <%= render "layouts/footer" %>
    </div>


    <%= render "script/application" %>

  </body>


</html>
